body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 235, 235);
  margin: 0;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

.main-layout-container {
  flex: 1 1 auto;
  max-width: 1440px;
  display: grid;
  background-color: rgb(82, 82, 82);
  border: solid;
  border-radius: 0.5px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header-container {
  grid-area: header;
  padding: 5px;
  display: flex;
  border: solid;
  border-color: rgb(181, 181, 243);
  border-radius: 0.5px;
  background-color: tomato;
}

.logo-container {
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: auto;
}

.logo {
  font-size: large;
}

.nav-container {
  display: flex;
  text-align: center;
  flex: 1 2 auto;
}

.nav-container > a {
  display: flex;
  background-color: aquamarine;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.nav-container > a:hover {
  display: flex;
  background-color: rgb(74, 88, 84);
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}

.main-container {
  grid-area: main;
  border: solid;
  border-color: rgb(181, 181, 243);
  border-radius: 0.5px;
  background-color: tomato;
}

.footer-container {
  grid-area: footer;
  border: solid;
  border-color: rgb(181, 181, 243);
  border-radius: 0.5px;
  background-color: tomato;
}

.simple-grid {
  display: grid;
  background-color: aqua;
  padding: 10px;
  grid-template: auto / auto auto auto auto;
  gap: 5px;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 250px;
  background-color: antiquewhite;
}

@media (max-width: 768px) {
  .simple-grid {
    grid-template: auto / auto auto auto;
  }
}

@media (max-width: 480px) {
  .simple-grid {
    grid-template: auto / auto;
  }
}
