body {
  background-color: rgb(235, 235, 235);
}

h1 {
  font-size: xx-large;
  text-align: center;
}

.root-container {
  margin-left: 75px;
  margin-right: 75px;
}

.main-layout-container {
  display: grid;
  background-color: rgb(82, 82, 82);
  border: solid;
  border-radius: 0.5px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.header-container {
  grid-area: header;
  padding: 5px;
  display: flex;
  border: solid;
  border-color: rgb(181, 181, 243);
  border-radius: 0.5px;
  background-color: tomato;
}

.logo-container {
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 0;
}

.logo {
  font-size: large;
}

.nav-container {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
  flex-basis: 1;
  flex-grow: 2;
  flex-shrink: 0;
}

.nav-container > a {
  background-color: aquamarine;
  text-align: center;
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 0;
}

.main-container {
  grid-area: main;
  border: solid;
  border-color: rgb(181, 181, 243);
  border-radius: 0.5px;
  background-color: tomato;
}

.footer-container {
  grid-area: footer;
  border: solid;
  border-color: rgb(181, 181, 243);
  border-radius: 0.5px;
  background-color: tomato;
}

.simple-grid {
  display: grid;
  background-color: aqua;
  padding: 10px;
  justify-content: center;
  grid-template: auto / max-content max-content max-content max-content;
  gap: 5px;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  height: 250px;
  background-color: antiquewhite;
}

.card-header {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
}

.card-body {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
}

a.clickable {
  text-decoration: none;
  color: inherit;
}

button.raised {
  z-index: 1;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
