body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 235, 235);
  margin: 0;
}

.main-layout-container {
  flex: 1 1 auto;
  max-width: 1440px;
  height: 100vh;
  display: grid;
  border-radius: 0.5px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-rows: min-content auto min-content;
}

.header-container {
  grid-area: header;
  background-color: slategrey;
  padding: 0px;
  display: flex;
  border-radius: 0.5px;
  position: sticky;
  top: 0;
}

.logo-container {
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: auto;
}

.logo {
  font-size: large;
}

.nav-container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.nav-items > a {
  display: flex;
  flex: 1 1 auto;
  background-color: slategray;
  align-items: center;
  justify-content: center;
}

.nav-items > a:hover {
  background-color: gray;
}

.main-container {
  grid-area: main;
  border-radius: 0.5px;
}

.simple-grid {
  display: grid;
  padding: 10px;
  grid-template: auto / auto auto auto auto;
  gap: 5px;
}

.card {
  display: flex;
  background-color: slategray;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 250px;
}

.footer-container {
  grid-area: footer;
  background-color: slategray;
  border-radius: 0.5px;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

.hamburger {
  display: none;
  flex: 1 1 auto;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

.nav-items.mobile {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  top: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-items.hidden {
  display: flex;
}

@media (max-width: 1024px) {
  .simple-grid {
    grid-template: auto / auto auto auto;
  }
}

@media (max-width: 768px) {
  .simple-grid {
    grid-template: auto / auto auto;
  }

  .hamburger {
    display: block;
  }

  .nav-items {
    display: flex;
    align-items: stretch;
    justify-content: left;
    position: absolute;
    flex-direction: column;
    flex: 1 1 auto;
    top: 100%;
    height: 100vh;
    left: 0;
    right: 0;
  }

  .nav-items.hidden {
    display: none;
  }
}

@media (max-width: 480px) {
  .simple-grid {
    grid-template: auto / auto;
  }

  .hamburger {
    display: block;
  }

  .nav-items.hidden {
    display: none;
  }
}
